<section class="min-h-screen flex items-center justify-center bg-secondary p-6">
  <div class="w-full max-w-md bg-transparent flex flex-col items-center gap-10">
    <h1 class="text-5xl font-bold text-primary">Entrar</h1>

    <form class="w-full flex flex-col gap-6" (ngSubmit)="onSubmit()">
      <app-ui-input
        id="email"
        name="email"
        [(ngModel)]="email"
        type="email"
        placeholder="E-mail"
        autocomplete="email"
        [error]="emailError"
      />

      <div class="relative w-full">
        <app-ui-input
          [type]="showPassword ? 'text' : 'password'"
          id="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Senha"
          autocomplete="current-password"
          [error]="passwordError"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="absolute inset-y-0 right-4 flex items-center text-description/60"
        >
          <mat-icon>
            {{ showPassword ? "visibility_off" : "visibility" }}
          </mat-icon>
        </button>
      </div>

      <a
        routerLink="/forgot-password"
        class="text-sm text-primary self-end hover:underline"
      >
        Esqueceu sua senha?
      </a>

      <app-button-primary
        type="submit"
        [loading]="isLoading"
        label="Entrar"
        loadingText="Entrando..."
      />
    </form>

    <p class="text-sm text-indigo-700">
      É novo por aqui?
      <a routerLink="/signup" class="font-semibold hover:underline"
        >Cadastre-se</a
      >
    </p>
  </div>
</section>
