<section class="flex flex-col gap-6">
  <header class="flex flex-col gap-2">
    <h1 class="text-4xl font-bold text-primary pr-5">
      Comece <br />
      informando seu nome completo
    </h1>
  </header>

  <form class="flex flex-col gap-8" (ngSubmit)="onContinue()">
    <app-ui-input
      [(ngModel)]="nome"
      name="nome"
      type="text"
      placeholder="Nome Completo"
      autocomplete="name"
    />

    <app-button-primary
      type="submit"
      label="Continuar"
      [disabled]="!nome.trim()"
    />
  </form>
</section>
