<section class="flex flex-col gap-6">
  <div class="mt-[-3rem]">
    <a routerLink="/signin" class="text-sm underline">
      <img src="/assets/arrow_circle_left_24dp.png" alt="Seta de Voltar" />
    </a>
  </div>

  <header class="flex flex-col gap-2">
    <h1 class="text-4xl font-bold text-primary pr-5">
      Comece <br />
      informando seu nome completo
    </h1>
  </header>

  <form class="flex flex-col gap-4" (ngSubmit)="onContinue()">
    <div class="flex flex-col gap-2">
      <input
        type="text"
        id="nome"
        [(ngModel)]="nome"
        name="nome"
        required
        placeholder="Nome"
        class="border rounded-xl px-3 py-5 outline-none"
      />
    </div>

    <button
      type="submit"
      [disabled]="!nome.trim()"
      class="border-0 rounded-xl px-4 py-6 text-lg font-semibold disabled:opacity-70 bg-primary text-white leading-none tracking-normal"
    >
      Continuar
    </button>
  </form>
</section>
