<section class="min-h-screen flex justify-center pl-4 pr-4 pt-24 bg-secondary">
  <div class="w-full max-w-md flex flex-col gap-6">
    <div *ngIf="errorMessage" class="flex flex-col gap-2 text-sm">
      <p>{{ errorMessage }}</p>
    </div>

    <div *ngIf="currentStep < 3" class="flex justify-end gap-2 pr-2">
      <span
        class="h-2 w-2 rounded-full"
        [class.bg-primary]="currentStep === 1"
        [class.border]="currentStep !== 1"
      ></span>
      <span
        class="h-2 w-2 rounded-full"
        [class.bg-primary]="currentStep === 2"
        [class.border]="currentStep !== 2"
      ></span>
    </div>

    <app-step1
      *ngIf="currentStep === 1"
      (next)="onStep1Next($event)"
    ></app-step1>

    <app-step2
      *ngIf="currentStep === 2"
      (next)="onStep2Next($event)"
      (back)="onStep2Back()"
      [isLoading]="isLoading"
    ></app-step2>
  </div>
</section>
