<section
  class="min-h-screen flex flex-col items-center justify-center bg-secondary p-6 text-center font-inter"
>
  <div class="w-full max-w-md flex flex-col items-center gap-6">
    <img
      src="assets/images/meme.jpg"
      alt="Recuperação de senha"
      class="w-full max-w-xs rounded-2xl shadow-sm"
    />

    <div class="space-y-2">
      <h1 class="text-3xl font-bold text-black">
        Vai ficar sem lembrar kkkkkkkkkkkkkk
      </h1>

      <p class="text-sm text-black">Não deu tempo fazer</p>
    </div>

    <a
      routerLink="/signin"
      class="text-sm text-primary font-semibold underline"
    >
      Voltar para o login
    </a>
  </div>
</section>
