<div class="p-5 font-inter">
  <div class="w-full flex flex-col items-center">
    <div>
      <img src="/assets/icons/account.png" alt="Avatar" class="w-28 h-28 rounded-full object-cover" />
    </div>

    <h2 class="text-xl font-bold mt-4 mb-2 text-black">
      {{ (userFullName || 'Jefferson Alves') | titlecase }}
    </h2>

    <div class="mt-6 w-full flex flex-col gap-4">
      <a [routerLink]="['/profile/dados']"
        class="flex justify-between items-center border-[2px] border-[#6B54EC] px-5 py-3 rounded-xl text-[#6B54EC] font-medium bg-white transition">
        Dados
        <span class="text-[#6B54EC] font-medium text-lg">›</span>
      </a>

      <a [routerLink]="['/profile/seguranca']"
        class="flex justify-between items-center border-[2px] border-[#6B54EC] px-5 py-3 rounded-xl text-[#6B54EC] font-medium bg-white transition">
        Segurança
        <span class="text-[#6B54EC] font-medium text-lg">›</span>
      </a>

      <a [routerLink]="['/profile/personalizacao']"
        class="flex justify-between items-center border-[2px] border-[#6B54EC] px-5 py-3 rounded-xl text-[#6B54EC] font-medium bg-white transition">
        Configurações
        <span class="text-[#6B54EC] font-medium text-lg">›</span>
      </a>
    </div>

    <button type="button" (click)="openLogoutConfirm()"
      class="mt-12 w-full py-3 bg-[#6B54EC] text-white font-medium rounded-xl shadow-md transition hover:bg-[#5940d8] max-w-sm">
      Sair da conta
    </button>
  </div>
</div>