@keyframes toast-in {
  0% {
    transform: translateY(-12px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-toast-in {
  animation: toast-in 220ms ease-out forwards;
  will-change: transform, opacity;
}

@keyframes progress {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.progress-bar {
  width: 100%;
  height: 100%;
  animation: progress var(--progress-duration, 4000ms) linear forwards;
  will-change: width;
}


