<section class="flex flex-col gap-6">
  <header class="flex flex-col gap-2">
    <h1 class="text-4xl font-bold text-primary pr-5">
      Crie seu acesso com e-mail e senha
    </h1>
  </header>

  <form class="flex flex-col gap-7" (ngSubmit)="onConfirm()">
    <app-ui-input
      [(ngModel)]="email"
      name="email"
      type="email"
      placeholder="E-mail"
      autocomplete="email"
    />

    <div class="relative w-full">
      <app-ui-input
        [(ngModel)]="senha"
        name="senha"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Senha"
        autocomplete="new-password"
      />
      <button
        type="button"
        (click)="togglePasswordVisibility()"
        class="absolute inset-y-0 right-4 flex items-center text-description/60"
        aria-label="Mostrar ou ocultar senha"
      >
        <mat-icon>{{
          showPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </div>

    <div class="flex flex-col gap-2">
      <div class="relative w-full">
        <app-ui-input
          [(ngModel)]="confirmarSenha"
          name="confirmarSenha"
          [type]="showConfirmPassword ? 'text' : 'password'"
          placeholder="Confirmar Senha"
          autocomplete="new-password"
        />
        <button
          type="button"
          (click)="toggleConfirmPasswordVisibility()"
          class="absolute inset-y-0 right-4 flex items-center text-description/60"
          aria-label="Mostrar ou ocultar confirmação de senha"
        >
          <mat-icon>{{
            showConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
    </div>

    <app-button-primary
      type="submit"
      label="Confirmar"
      loadingText="Confirmando..."
      [loading]="isLoading"
      [disabled]="
        isLoading ||
        !email ||
        !senha ||
        !confirmarSenha ||
        senha !== confirmarSenha
      "
    />
  </form>
</section>
