<section class="flex flex-col gap-6">
  <div class="mt-[-3rem]">
    <button type="button" (click)="onBack()" class="text-sm underline">
      <img src="/assets/arrow_circle_left_24dp.png" alt="Seta de Voltar">
    </button>
  </div>

  <header class="flex flex-col gap-2">
    <h1 class="text-4xl font-bold text-primary pr-5">Crie seu acesso com e-mail e senha</h1>
  </header>

  <form class="flex flex-col gap-7" (ngSubmit)="onConfirm()">
    <div class="flex flex-col gap-2">
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        name="email"
        required
        placeholder="seu@email.com"
        class="border rounded-lg px-3 py-4 outline-none"
      />
    </div>

    <div class="flex flex-col gap-2">
      <div class="flex items-center gap-2 bg-white px-3 py-4 rounded-lg">
        <input
          [type]="showPassword ? 'text' : 'password'"
          id="senha"
          [(ngModel)]="senha"
          name="senha"
          required
          placeholder="Digite sua senha"
          class="border-0 flex-1 outline-none"
        />
        <button
          type="button"
          (click)="togglePasswordVisibility()"
          class="text-xs underline"
        >
          <span *ngIf="showPassword"><img src="/assets/visualizar.png" alt="Visualizar"></span>
          <span *ngIf="!showPassword"><img src="/assets/visualizar.png" alt="Visualizar"></span>
        </button>
      </div>
    </div>

    <div class="flex flex-col gap-2 bg-white px-3 py-4 rounded-lg">
      <div class="flex items-center gap-2">
        <input
          [type]="showConfirmPassword ? 'text' : 'password'"
          id="confirmarSenha"
          [(ngModel)]="confirmarSenha"
          name="confirmarSenha"
          required
          placeholder="Repita sua senha"
          class="border-0 rounded flex-1 outline-none"
          [class.border-red-500]="
            confirmarSenha && senha !== confirmarSenha
          "
        />
        <button
          type="button"
          (click)="toggleConfirmPasswordVisibility()"
          class="text-xs underline"
        >
          <span *ngIf="showConfirmPassword"><img src="/assets/visualizar.png" alt="Visualizar"></span>
          <span *ngIf="!showConfirmPassword"><img src="/assets/visualizar.png" alt="Visualizar"></span>
        </button>
      </div>
      <p
        *ngIf="confirmarSenha && senha !== confirmarSenha"
        class="text-xs text-red-500"
      >
        As senhas não coincidem
      </p>
    </div>

    <button
      type="submit"
      [disabled]="
        isLoading ||
        !email ||
        !senha ||
        !confirmarSenha ||
        senha !== confirmarSenha
      "
      class="border-0 rounded-xl px-4 py-6 text-lg font-semibold disabled:opacity-70 bg-primary text-white leading-none tracking-normal"
    >
      <span *ngIf="!isLoading">Confirmar</span>
      <span *ngIf="isLoading">Confirmando...</span>
    </button>
  </form>
</section>
